/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/08/2016, 09:32:23 PM
    Author     : Andres
*/

@media screen and (max-width: 1024px){
    .mdl-layout__header{
        display: block !important;
    }
}
@media screen and (min-width: 1024px){
    .mdl-mega-footer--drop-down-section, .mdl-mega-footer--drop-down-section:nth-child(3), .mdl-mega-footer--drop-down-section:nth-child(4), .mdl-mega-footer__drop-down-section, .mdl-mega-footer__drop-down-section:nth-child(3), .mdl-mega-footer__drop-down-section:nth-child(4){
        width: 33%;
    }
}
hr{
    margin-bottom: 3px;
}

.menu-title{
    padding-left: 16px;
    margin-bottom: 5px;
    margin-top: 8px;
    color: #666666;
    font-size: small;
    font-weight: bold;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
}
.mdl-navigation__link:hover{
    text-decoration: none;
}
