<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.upeu.mipes.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegESController</servlet-name>
        <servlet-class>com.upeu.mipes.controller.RegESController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegIntgController</servlet-name>
        <servlet-class>com.upeu.mipes.controller.RegIntgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntegranteController</servlet-name>
        <servlet-class>com.upeu.mipes.controller.IntegranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscuelaController</servlet-name>
        <servlet-class>com.upeu.mipes.controller.EscuelaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegESController</servlet-name>
        <url-pattern>/reg=newES</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegIntgController</servlet-name>
        <url-pattern>/RegInt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntegranteController</servlet-name>
        <url-pattern>/IntCnt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscuelaController</servlet-name>
        <url-pattern>/esc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
